.output {
    color: grey;
    background-color: black;
    font-family: consolas;
    overflow: hidden;
    /*height: 100%;*/
    overflow-y: auto;
    padding: 0 1em;
}

.monitor {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.output {
    flex: 1;
}